h1,h2,h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header img{
    padding: 20px;
    max-width: 150px
}


header{
    border-radius: 10px;
    height: 150px;
    background-color: #F13746
    
}

header ul{
    list-style: none;
    display: flex;
    justify-content:space-evenly
}

header a{ 
    color: white;
    font-family: monospace;
}




body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main{
    display: flex;
    padding-top: 100px;
}

section{
    width: 40%;
    display: flex;
}

main img{
    width: 400px;
    padding: 5%;
    border-radius: 40px;
}

